<app-loading *ngIf="carga"></app-loading>

<div class="row animated fadeIn" *ngIf="carga === false">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la pagina de spotify</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger text">Regresar</button>
    </div>
</div>

<div class="row m-5 animated fadeIn" style="color: white;">
    <div class="col">
        <table class="table">
            <thead style="color: white;">
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>

                </tr>

            </thead>
            <tbody style="color: white;">
                <tr *ngFor="let cancion of topTracks">
                    <td><img [src]="cancion.album.images | noimage" class="img-thumb"></td>
                    <td>{{cancion.album.name}}</td>
                    <td>{{cancion.name}}</td>
                    <td><iframe [src]="cancion.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>